h1{
    font-size: 200px;
    background-color: red;
    text-align: center;
}

body{
    background-color: red;
}


.mani{
        box-shadow: -12px 8px 0px 0px #000000;
        background-color: #ffffff;
        border-radius: 15px;
        border: 1px solid #000000;
        display: inline-block;
        cursor: pointer;
        color: #000000;
        font-family: Arial;
        font-size: 100px;
        padding: 16px 31px;
        text-decoration: none;
    }

    .mani:hover {
        background-color: red;
        color: black;
    }

    .mani:active {
        position: relative;
        top: 5px;
    }

.sug{
        box-shadow: -12px 8px 0px 0px #000000;
        background-color: #ffffff;
        border-radius: 15px;
        border: 1px solid #000000;
        display: inline-block;
        cursor: pointer;
        color: #000000;
        font-family: Arial;
        font-size: 100px;
        padding: 16px 31px;
        text-decoration: none;
    }

    .sug:hover {
        background-color: red;
    }

    .myButton:active {
        position: relative;
        top: 1px;
    }

        .myButton {
            box-shadow: -7px 5px 0px 0px #ffffff;
            background: linear-gradient(to bottom, #ffffff 5%, #000000 100%);
            background-color: #ff0000;
            border-radius: 28px;
            border: 1px solid #000000;
            display: inline-block;
            cursor: pointer;
            color: #000000;
            font-family: Arial;
            font-size: 100px;
            padding: 16px 31px;
            text-decoration: none;
        }
    
        .myButton:hover {
            background: linear-gradient(to bottom, #000000 5%, #ffffff 100%);
            background-color: #000000;
        }
    
        .myButton:active {
            position: relative;
            top: 1px;
        }