h1{
    font-size: 150px;
    background-color: red;
    text-align: center;
}

body{
    background-color: red;
    width:auto;
}

.menu{
    font-size: 200px;
}

h3{
    font-size: 60px;
}

.oi{
    padding-bottom: 100px;
}

.segredo{
    font-size: 70px;
    color: #000000;
}

.myButton {
    box-shadow: -7px 5px 0px 0px #ffffff;
    background: linear-gradient(to bottom, #ffffff 5%, #000000 100%);
    background-color: #ff0000;
    border-radius: 28px;
    border: 1px solid #000000;
    display: inline-block;
    cursor: pointer;
    color: #000000;
    font-family: Arial;
    font-size: 100px;
    padding: 16px 31px;
    text-decoration: none;
}

.myButton:hover {
    background: linear-gradient(to bottom, #000000 5%, #ffffff 100%);
    background-color: #000000;
}

.myButton:active {
    position: relative;
    top: 1px;
}

li{
    font-size: 70px;

}